
/* Richard Davies, Data Science for Economists */

/* This is my second proper css file */


/* Import a font from google fonts website nad copy code directly, see video recording  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/* Set the background color for my page: rgb is red green blue and oges up to 255, or just type a randon colour */
body{
    background-color: rgb(183, 231, 227);
 
}




/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
    
.myWeek1{
    margin: auto;
    max-width: 800px;
    background-color: rgb(220, 220, 220);
    padding: 5px;
      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);
}

.myWeek2{
    margin: auto;
    max-width: 800px;
    background-color: rgb(220, 220, 220);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);
}

.myWeek3{    
    margin: auto;
    max-width: 800px;
    background-color: rgb(220, 220, 220);

      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);

}

.myWeek4{    
    margin: auto;
    max-width: 800px;
    background-color: rgb(220, 220, 220);
    display: block;
      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);

}

.myWeek5{    
    margin: auto;
    max-width: 950px;
    background-color: rgb(220, 220, 220);
    display: block;
      
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(100, 100, 100);

}

/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(255, 255, 255);
    width: 380px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    text-align: center;
    display: block; 
    margin: 0 auto;
    
}

#Chart1{
    background-color: rgb(255, 255, 255);
    width: 380px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    text-align: center;
    display: block; 
    margin: 0 auto;

}

#Chart2{
    background-color: rgb(255, 255, 255);
    width: 380px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    text-align: center;
    display: block; 
    margin: 0 auto;

}

#Chart3{
    background-color: rgb(255, 255, 255);
    width: 380px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    text-align: center;
    display: block; 
    margin: 0 auto;

}

#Chart4{
    background-color: rgb(255, 255, 255);
    width: 380px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    text-align: center;
    display: block; 
    margin: 0 auto;

}

#Chart5{
    background-color: rgb(255, 255, 255);
    width: 380px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    text-align: center;
    display: block; 
    margin: 0 auto;

}

#Chart6{
    background-color: rgb(255, 255, 255);
    width: 380px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    text-align: center;
    display: block; 
    margin: 0 auto;

}

#Chart7{
    background-color: rgb(255, 255, 255);
    width: 380px;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    text-align: center;
    display: block; 
    margin: 0 auto;

}

#linkscraper{
    border:1px;
    border-color:rgb(61, 61, 209);
    border-style: solid;

    border-radius: 5px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    color:black;
    text-decoration: none;

    
}
#linkscraper{ display: block;text-align: center;}

#linkscraper:hover{

    background-color: rgba(30, 197, 223, 0.148);

    border:2px;
    border-color:black;
    border-style: solid;
    
}

.chartw5{
    align-items: center;
    background-color: white;
    width:250px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: #313d5a;
    margin-left: 30px;
    margin-bottom: 30px;

}